<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body style="background: linear-gradient(to right, #9896F0, #FBC8D5)">
<div style="color: white; padding: 5%">
    <p style="font-size: 40px; color: deeppink"><strong>Meta Data:</strong></p>
    <p style="font-size: 30px"><strong>This site is designed using the following:</strong></p>
    <p style="font-size: 30px; color: black"><strong>Front-end / GUI: HTML, CSS, Bootstrap, Javascript</strong></p>
    <p style="font-size: 30px; color: black"><strong>Back-end / Framework: Django</strong></p>
    <p style="font-size: 30px; color: black"><strong>Scripting Language: Python</strong></p>
    <p style="font-size: 30px; color: black"><strong>Database: Mysql</strong></p>
    <p style="font-size: 30px; color: black"><strong>And was designed by Manjunath D</strong></p>
</div>
</body>
</html>